.Search {
    width: 100%;
    margin-right: 1rem;
}

.Search input {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid var(--gold);
    background-color: var(--black);
    color: var(--gold);
    width: 100%;
}

.Search input::placeholder {
    color: var(--gold);
}
