:root {
    --black: #1A1C20;
    --cream: #f4ebd0;
    --tan: #b68d40;
    --gold: #d6ad60;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--black);
    /* background-image: url(./images/spices.jpg); */
    background-color: var(--black);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}



.Search-container {
    display: flex;
    max-width: 1440px;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;

}

.Logo img {
    width: 4rem;
    margin-right: 0.5rem;
}


